{{extend 'layout.html'}}
<h2>Carpetas</h2>
<div id="resultado">
    <table id="resultadoJqgrid"></table>
    <div id="presultadoJqgrid"></div>
</div>
<script>        
    jQuery("#resultadoJqgrid").jqGrid({
        url:'/mosivo/default/getCarpetas',
        datatype: "json",
        colNames:['Carpeta', 'Ver carpeta'], 
        colModel: [ 
            {name:'carpeta',index:'carpeta', align:'center', width:90},
            {name:'carpetaId',index:'carpetaId', align:'center', width:90, formatter:formateadorLink}
        ], 
        rowNum:40, 
        autowidth: true, 
        rowList:[10,20,30], 
        pager: '#presultadoJqgrid', 
        viewrecords: true,
        sortorder: "desc",
        loadonce: true,
        caption:"Carpetas:" 
    }).navGrid('#presultadoJqgrid',{edit:false,add:false,del:false});

    function formateadorLink(cellvalue, options, rowObject) {
        return "<a href='/mosivo/default/showCarpeta?id="+ cellvalue + "'>" + cellvalue + "</a>";
    }

</script>