{{extend 'layout.html'}}
{{=form}}
<script>
    $(document).ready(function(){
        loadValues();
    });

    function loadValues(){
        $.getJSON('/mosivo/models/departments', function(data) {
            var items = "";

            $.each(data.rows, function(key, val) {
                items += '<option value="' + key + '">' + val + '</option>';
            });

            $("#departamento").html(items);
        });

        $.getJSON('/mosivo/models/registries', function(data) {
            var items = "";

            $.each(data.rows, function(key, val) {
                items += '<option value="' + key + '">' + val + '</option>';
            });

            $("#padron").html(items);
        });

        $.getJSON('/mosivo/models/justiceSection', function(data) {
            var items = "";

            $.each(data.rows, function(key, val) {
                items += '<option value="' + key + '">' + val + '</option>';
            });

            $("#seccionJudicial").html(items);
        });

        $.getJSON('/mosivo/models/region', function(data) {
            var items = "";

            $.each(data.rows, function(key, val) {
                items += '<option value="' + key + '">' + val + '</option>';
            });

            $("#region").html(items);
        });
    }

    $("#padronCB").click(function(){
        if ($("#padronCB").is(':checked')){
            $("#padron").removeAttr("disabled");
            $("#rectCB").attr("checked", false);
            $("#topLeftLat").attr("disabled", "disabled");
            $("#topLeftLong").attr("disabled", "disabled");
            $("#bottomRightLat").attr("disabled", "disabled");
            $("#bottomRightLong").attr("disabled", "disabled");
            $("#seccionJudicial").attr("disabled", "disabled");
            $("#seccionJCB").attr("checked", false);
            $("#departamento").attr("disabled", "disabled");
            $("#deptoCB").attr("checked", false);
            $("#region").attr("disabled", "disabled");
            $("#regionCB").attr("checked", false);
            $("#cuenca").attr("disabled", "disabled");
            $("#cuencaCB").attr("checked", false);
            $("#centroLat").attr("disabled", "disabled");
            $("#centroLong").attr("disabled", "disabled");
            $("#radio").attr("disabled", "disabled");
            $("#circCB").attr("checked", false);
        } else {
            $("#padron").attr("disabled", "disabled");
        }
    });
    $("#seccionJCB").click(function(){
        if ($("#seccionJCB").is(':checked')){
            $("#rectCB").attr("checked", false);
            $("#seccionJudicial").removeAttr("disabled");
            $("#padron").attr("disabled", "disabled");
            $("#padronCB").attr("checked", false);
            $("#departamento").attr("disabled", "disabled");
            $("#deptoCB").attr("checked", false);
            $("#region").attr("disabled", "disabled");
            $("#regionCB").attr("checked", false);
            $("#cuenca").attr("disabled", "disabled");
            $("#cuencaCB").attr("checked", false);
            $("#centroLat").attr("disabled", "disabled");
            $("#centroLong").attr("disabled", "disabled");
            $("#radio").attr("disabled", "disabled");
            $("#circCB").attr("checked", false);
        } else {
            $("#seccionJudicial").attr("disabled", "disabled");
        }
    });
    $("#deptoCB").click(function(){
        if ($("#deptoCB").is(':checked')){
            $("#rectCB").attr("checked", false);
            $("#departamento").removeAttr("disabled");
            $("#padron").attr("disabled", "disabled");
            $("#padronCB").attr("checked", false);
            $("#seccionJudicial").attr("disabled", "disabled");
            $("#seccionJCB").attr("checked", false);
            $("#region").attr("disabled", "disabled");
            $("#regionCB").attr("checked", false);
            $("#cuenca").attr("disabled", "disabled");
            $("#cuencaCB").attr("checked", false);
            $("#centroLat").attr("disabled", "disabled");
            $("#centroLong").attr("disabled", "disabled");
            $("#radio").attr("disabled", "disabled");
            $("#circCB").attr("checked", false);
        } else {
            $("#departamento").attr("disabled", "disabled");
        }
    });
    $("#regionCB").click(function(){
        if ($("#regionCB").is(':checked')){
            $("#rectCB").attr("checked", false);
            $("#region").removeAttr("disabled");
            $("#padron").attr("disabled", "disabled");
            $("#padronCB").attr("checked", false);
            $("#seccionJudicial").attr("disabled", "disabled");
            $("#seccionJCB").attr("checked", false);
            $("#departamento").attr("disabled", "disabled");
            $("#deptoCB").attr("checked", false);
            $("#cuenca").attr("disabled", "disabled");
            $("#cuencaCB").attr("checked", false);
            $("#centroLat").attr("disabled", "disabled");
            $("#centroLong").attr("disabled", "disabled");
            $("#radio").attr("disabled", "disabled");
            $("#circCB").attr("checked", false);
        } else {
            $("#region").attr("disabled", "disabled");
        }
    });
    $("#cuencaCB").click(function(){
        if ($("#cuencaCB").is(':checked')){
            $("#rectCB").attr("checked", false);
            $("#cuenca").removeAttr("disabled");
            $("#padron").attr("disabled", "disabled");
            $("#padronCB").attr("checked", false);
            $("#seccionJudicial").attr("disabled", "disabled");
            $("#seccionJCB").attr("checked", false);
            $("#departamento").attr("disabled", "disabled");
            $("#deptoCB").attr("checked", false);
            $("#region").attr("disabled", "disabled");
            $("#regionCB").attr("checked", false);
            $("#centroLat").attr("disabled", "disabled");
            $("#centroLong").attr("disabled", "disabled");
            $("#radio").attr("disabled", "disabled");
            $("#circCB").attr("checked", false);
        } else {
            $("#cuenca").attr("disabled", "disabled");
        }
    });
    $("#rectCB").click(function(){
        if ($("#rectCB").is(':checked')){
            $("#topLeftLat").removeAttr("disabled");
            $("#topLeftLong").removeAttr("disabled");
            $("#bottomRightLat").removeAttr("disabled");
            $("#bottomRightLong").removeAttr("disabled");
            $("#padron").attr("disabled", "disabled");
            $("#padronCB").attr("checked", false);
            $("#seccionJudicial").attr("disabled", "disabled");
            $("#seccionJCB").attr("checked", false);
            $("#departamento").attr("disabled", "disabled");
            $("#deptoCB").attr("checked", false);
            $("#region").attr("disabled", "disabled");
            $("#regionCB").attr("checked", false);
            $("#cuenca").attr("disabled", "disabled");
            $("#cuencaCB").attr("checked", false);
            $("#centroLat").attr("disabled", "disabled");
            $("#centroLong").attr("disabled", "disabled");
            $("#radio").attr("disabled", "disabled");
            $("#circCB").attr("checked", false);
        } else {
            $("#topLeftLat").attr("disabled", "disabled");
            $("#topLeftLong").attr("disabled", "disabled");
            $("#bottomRightLat").attr("disabled", "disabled");
            $("#bottomRightLong").attr("disabled", "disabled");
        }
    });
    $("#circCB").click(function(){
        if ($("#circCB").is(':checked')){
            $("#centroLat").removeAttr("disabled");
            $("#centroLong").removeAttr("disabled");
            $("#radio").removeAttr("disabled");
            $("#padron").attr("disabled", "disabled");
            $("#padronCB").attr("checked", false);
            $("#seccionJudicial").attr("disabled", "disabled");
            $("#seccionJCB").attr("checked", false);
            $("#departamento").attr("disabled", "disabled");
            $("#deptoCB").attr("checked", false);
            $("#region").attr("disabled", "disabled");
            $("#regionCB").attr("checked", false);
            $("#cuenca").attr("disabled", "disabled");
            $("#cuencaCB").attr("checked", false);
            $("#topLeftLat").attr("disabled", "disabled");
            $("#topLeftLong").attr("disabled", "disabled");
            $("#bottomRightLat").attr("disabled", "disabled");
            $("#bottomRightLong").attr("disabled", "disabled");
            $("#rectCB").attr("checked", false);
        } else {
            $("#centroLat").attr("disabled", "disabled");
            $("#centroLong").attr("disabled", "disabled");
            $("#radio").attr("disabled", "disabled");
        }
    });
</script>