{{extend 'layout.html'}}
{{
if not request.args:
	 w2p_grid_tbl = grid.element('table')
	 if w2p_grid_tbl:
	 	original_export_menu = grid.element('div.w2p_export_menu')
	 	export_menu_links = original_export_menu.elements('a')
	 	export_menu_items = []
	 	for link in export_menu_links:
	 		item = LI(link)
	 		export_menu_items.append(item)
	 		pass
	 	new_export_menu = DIV(
	                      A( T('Exports'),
	                         SPAN(_class='caret'),
	                         _href='#',
	                         _class='btn btn-inverse dropdown-toggle',
	                         **{'_data-toggle':"dropdown"}
	                        ),
	                      UL(*export_menu_items,
	                         _class='dropdown-menu'
	                        ),
	                    _class='w2p_export_menu btn-group'
	                    )
	 	export_menu = grid.element('div.w2p_export_menu',replace=new_export_menu)
	 	pass
	pass
}}

<h1> {{ = T('Turno coeffcients') }}</h1>
<b>{{ =T('Actions:') }}</b>
<div class="btn-group">
	<a data-toggle="modal" onclick="return newDialogShow('/mosivo/modelconf/nedcturno.load/n')" class="btn btn-inverse btn-small" title="{{=T('Add new record to this table')}}">	
	<i class="icon-plus-sign icon-white"></i> {{ =T('Add record') }}</a>
</div>
<div class="btn-group">
	<button class="btn btn-inverse btn-small">Export</button>
	<button class="btn btn-inverse btn-small dropdown-toggle" data-toggle="dropdown">
	<span class="caret"></span>
	</button>
    <ul class="dropdown-menu">
	    <li><a href="#">EAction1</a></li>
	    <li><a href="#">EAction2</a></li>
	    <li><a href="#">EAction3</a></li>
	    <li class="divider"></li>
	    <li><a href="#">EAction4</a></li>
    </ul>  
</div>
<div class="btn-group">    
	<button class="btn btn-inverse btn-small">Import</button>
	<button class="btn btn-inverse btn-small dropdown-toggle" data-toggle="dropdown">
	<span class="caret"></span>
	</button>
    <ul class="dropdown-menu">
	    <li><a href="#">IAction1</a></li>
	    <li><a href="#">IAction2</a></li>
	    <li><a href="#">IAction3</a></li>
	    <li class="divider"></li>
	    <li><a href="#">IAction4</a></li>
    </ul>    
</div>
{{ =grid }}

<!-- Edit Dialog -->
<div id="editDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true" style="display: none;">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal">×</a>
		<h3>{{ =T('Edit record') }}</h3>
	</div>
	<div class="modal-body">
		<div id="editResult" class="center">		
		</div>
	</div>
	
	<div class="modal-footer">		
		<a href="#" class="btn btn-primary" onclick="editDialogSave();"> {{ =T('Save') }} </a>
		<a href="#" class="btn" onclick="editDialogClose();"> {{ =T('Close') }} </a>
	</div>
</div>

<!-- Delete Dialog -->
<div id="deleteDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true" style="display: none;">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal">×</a>
		<h3> {{=T('Delete confirmation')}}</h3>
	</div>
	<div class="modal-body">
		{{=T('Are you sure?. Delete this record?')}}
	</div>	
	<div class="modal-footer">
		<a href="#" class="btn btn-warning" onclick="deleteDialogDelete();">{{ =T('Delete') }}</a>
		<a href="#" class="btn" onclick="deleteDialogClose();">{{ =T('Cancel') }}</a>		
	</div>
</div>

<!-- New Dialog -->
<div id="newDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editLabel" aria-hidden="true" style="display: none;">
	<div class="modal-header">
		<a href="#" class="close" data-dismiss="modal">×</a>
		<h3>{{ =T('New record') }}</h3>
	</div>
	<div class="modal-body">
		<div id="newResult" class="center">		
		</div>
	<div class="modal-footer">		
		<a href="#" class="btn btn-primary" onclick="newDialogSave();"> {{ =T('Save') }} </a>
		<a href="#" class="btn" onclick="newDialogClose();"> {{ =T('Close') }} </a>
	</div>
</div>

<!-- 
<script>
		jQuery('#myform').submit(function() {
			ajax('{{=URL("new_post")}}',
				['your_message'], 'target');
			return false;
		});
</script>	
-->
 
<script>
	/*RFPV - Dialog code*/
	//variables globales para la acción
	var currentRecordId=-1; /* El id del record actual */
	var currentURLAction=''; /* La URL de la acción */
	$(document).ready(function() {
		/*
		$('#windowTitleDialog').bind('show', function () {
			document.getElementById ("xlInput").value = document.title;
		});
		*/
	});	
	
	function deleteDialogShow(actionURL,recordId) {
		$("#deleteDialog").modal();
		currentRecordId=recordId;
		currentURLAction=actionURL;
		//return false dont process href on a
		return false;
	};
	
	function deleteDialogClose() {
		$('#deleteDialog').modal('hide'); 
	};
	
	function deleteDialogDelete() {
		//Do something
		deleteDialogClose();
		currentRecordId=-1;
		currentURLAction='';
	};

	function editDialogShow (actionURL,recordId) {
		$("#editDialog").modal();
		currentRecordId=recordId;
		currentURLAction=actionURL;		
		$('#editResult').load(actionURL, function() {
			
		});
		//return false dont process href on a
		return false;
	};
	
	function editDialogClose() {
		$('#editDialog').modal('hide'); 
	};
	
	function editDialogSave() {
		//Do something
		editDialogClose();
		currentRecordId=-1;
		currentURLAction='';
	};	
	
	function newDialogShow(actionURL) {
		$("#newDialog").modal();
		currentRecordId=-1;
		currentURLAction=actionURL;		
		$('#newResult').load(actionURL, function() {
			
		});		
		//return false dont process href on a		
		return false;
	};
	
	function newDialogClose() {
		$('#newDialog').modal('hide'); 
	};
	
	function newDialogSave() {
		//Do something
		newDialogClose();
		currentRecordId=-1;
		currentURLAction='';
	};	
</script> 
