{{extend 'layout.html'}}
<h1> {{ =T('Model update and run') }}</h1>
<script>
$(function() {
        var baseURL = '{{ ='/%s/%s/' % (request.application, request.controller) }}';
        //load content for first tab and initialize
        $('#amodelupdate').load(baseURL+'amodelupdate', function() {
            $('#myTabs').tab(); //initialize tabs
        });
        $('#myTabs').bind('show', function(e) {
           var pattern=/#.+/gi; //use regex to get anchor(==selector)
           var contentID = e.target.toString().match(pattern)[0]; //get anchor
           //load content for selected tab
            $(contentID).load(baseURL+contentID.replace('#',''), function(){
                $('#myTabs').tab(); //reinitialize tabs
            });
        });
});
</script>

<div class="tabbable">
    <ul class="nav nav-tabs" id="myTabs">
        <li><a href="#amodelupdate"  class="active" data-toggle="tab">{{ =T('Automatic') }}</a></li>
        <li><a href="#mmodelupdate" data-toggle="tab">{{ =T('Manual') }}</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="amodelupdate"></div>
        <div class="tab-pane" id="mmodelupdate"></div>
    </div>
</div>
