<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>{{ =T('Advertencia') }}</h4>
    <p>Desde aqui Ud. podrá actualizar los datos de base del MoSiVo desde la base de datos DGF.<br />
    Por favor sea cuidadoso con las actualizaciones, tenga en cuenta que:
    <ul>
        <li>actualizar datos de género y/o especie <b>elimina todos los datos de los coeficientes del modelo</b>;</li>
        <li>actualizar datos de plan elimina <b>todos los datos de los rodales declarados y del modelo</b>;</li>
        <li>actualizar datos de rodal elimina <b>todos los datos de la modelación</b></li>
    <ul>
    </p>
</div>

<script>
var url='{{ ="/%s/%s/%s.json" % (request.application, request.controller, "update") }}';
var tnames=['genero','especie','plan','rodald'];

function updateFromRDB(upd,cAsync) {
    // If not set then true
    if (typeof cAsync==="undefined") {
        cAsync=true;
    }  
    // El div de resultados es:
    var udivid='ru' + upd;
    var ubutid='u' + upd + 'button';        
    //Desactivar los botones
    //$('td div span a.btn').attr('disabled',true);
    $('td a.btn').attr('disabled',true);
    // Ocultar el succes y fail
    for (var i=0;i<tnames.length;i++)
    {
        $('#f'+tnames[i]+'span').hide();
        $('#s'+tnames[i]+'span').hide();
        $('#e'+tnames[i]+'span').hide();
    }

    // Mostrar la imagen de espera
    $('#pb' + upd).show();

    $.ajax(
        {
            type: "POST",
            url: url,
            data: {updWhat:upd},
            async: cAsync,
            dataType: "json"
        }
    ).done(
        function( data ) {
            //Desactivar la espera
            if (data.result==true) {
                // Agregar Succes en el div
                $('#s'+upd+'span').show();
                updateNRows();
                updateUData();
            } else {
                //Agregar Fail en el div
                $('#f'+upd+'span').show();
            }
        }
    ).fail(
        function(){
            //activar el boton
            $('#e'+upd+'span').show();
        }
    ).always(
        function(){
            //ocultar la barra
            $('#pb' + upd).hide();
            //Activar los botones
            $('td a.btn').attr('disabled',false);
        }
    );
}

function updateUData(){
    /** Update UpdateOn and updateBy
    */
    var url='{{ ="/%s/%s/%s.json" % (request.application, request.controller, "updatedData") }}';
    for (var i=0;i<tnames.length;i++)
    {
        $.post(
            url,
            {tName:tnames[i]},
            mhuudata(i),
            'json'
        );
    }
}

function mhuudata(i){
    return function(data) {
        $('td span span#'+tnames[i]+'_lastupdate').text(data.updatedOn);
        $('td span span#'+tnames[i]+'_lastupdate').attr('title',data.updatedBy);        
    };
};

function updateNRows(){
    /** Update nRows
    */    
    var url='{{ ="/%s/%s/%s.json" % (request.application, request.controller, "nOfRows") }}';
    for (var i=0;i<tnames.length;i++)
    {
        $.post(
            url,
            {tName:tnames[i]},
            mhunrows(i),
            'json'
        );
    }
}

function mhunrows(i){
    return function(data) {
        $('td span#'+ tnames[i] +'_nrecords').text(data.nRows);
    };
};


function aUpdateAllCoef(tns) {
    // call updateFromRDB synchronus
    for (var i=0;i<tns.length;i++)
    {        
        updateFromRDB(tns[i],false);
    }
}
</script>    

{{ =table }}
