{{extend 'layout.html'}}
<h1> {{ = T('Verificación de coeficientes del modelo') }}</h1>
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Información</h4>
    Desde aqui Ud. podrá verificar la consitencia de los coeficientes del modelo respecto a la información disponible.
</div>
<p>Verificar coeficientes de área efectiva (<b>{{=ncaefectiva}}</b></b> registros)</p>
<p>Verificar coeficientes de índice de crecimiento medio anual (<b>{{=ncima}}</b> registros)</p>
<p>Verificar coeficientes de intervención (<b>{{=ncintervencion}}</b> registros)</p>
<p>Verificar coeficientes de cosecha (<b>{{=nccosecha}}</b> registros)</p>
<p>Verificar coeficientes de conversión de biomasa (<b>{{=ncaefectiva}}</b> registros)</p>
<p>Verificar coeficientes de biomasa en campo (<b>{{=ncbcampo}}</b> registros)</p>
<p>Verificar coeficientes de biomasa en la industria (<b>{{=ncbindustria}}</b> registros)</p>
