{{extend 'layout.html'}}
<h1> {{ =T('Model coefficients verification ') }}</h1>
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>{{ =T('Information') }}</h4>
    Desde aqui Ud. podrá verificar la consistencia de los coeficientes del modelo respecto a la información disponible.
</div>
<script>
var url='{{ ="/%s/%s/%s.load" % (request.application, request.controller, "averifycoef") }}';

function aVerifyCoef(tablename) {
        // El div de resultados es:
        var rdivid='rv' + tablename;
        var rbutid='v' + tablename + 'button';        
        //Desactivar el boton
        $('#'+rbutid).attr('disabled',true);
        // Ocultar el succes y fail
        $('#f'+tablename+'span').hide();
        $('#s'+tablename+'span').hide();
        $('#e'+tablename+'span').hide();
        // Mostrar la imagen de espera
        $('#pb' + tablename).show();
        $.post(
            url,
            {tableName:tablename},
            function(data) {
                //Desactivar la espera                 
                if (data.result==true) {
                    // Reload current page
                    // location.reload();
                    // Agregar Succes en el div
                    $('#s'+tablename+'span').show();
                } else {
                    //alert(data.message);
                    //Agregar Fail en el div
                    $('#f'+tablename+'span').show();
                }
                //activar el boton
                $('#'+rbutid).attr('disabled',false);                
            },
            'json' //data returned is json
        ).fail(
            function(){
                //activar el boton
                $('#e'+tablename+'span').show();                
            }
        ).always(
            function(){
                //ocultar la barra
                $('#pb' + tablename).hide();
                //activar el boton
                $('#'+rbutid).attr('disabled',false);
            }
        );
}

function aVerifyAllCoef(tablenames) {
    for (var i=0;i<tablenames.length;i++)
    {
        $( '#v' + tablenames[i] + 'button' ).click();        
    }
}
</script>    

{{ =table }}
